* {
    padding: 0;
    margin: 0;
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0px;
    color: cyan;
}

.input {
    display: block;
    width: 340px;
    height: 40px;
    border-radius: 15px;
    color: red;
    padding: 0px 20px;
    font-size: 18px;
    margin: auto;
    text-transform: capitalize;
}

.cards {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 50px;
    margin: 25px 0px;
}

.container {
    width: 200px;
    height: 400px;
    border-radius: 15px;
}

.input:focus {
    color: green;
}

.eltitle {
    color: red;
    font-size: 25px;
}

.elyear {
    color: white;
}

.poster {
    width: 200px;
    height: 270px;
    border-radius: 15px;
}

.eltype {
    color: green;
}